@{
    ViewData["Title"] = "Home Page";
}




@section Scripts{
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript">

        $(document).ready(() => {
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44359/MyHub").build();
            connection.start().then(() => {
                $("#conStatus").text(connection.connectionState);
                connection.invoke("GetNames");

                $("#btnsave").click(() => {
                    connection.invoke("SendName", $("#txtname").val());
                });
                connection.on("RecieveName", (name) => {
                    console.log(name);
                    $("#nameslist").append(`<li class="list-group-item">${name}</li>`);
                });
                connection.on("RecieveClientCount", (clientCount) => {
                    $("#clientCount").text(clientCount);
                });
                connection.on("RecieveNames", (names) => {
                    $("#nameslist").empty();
                    names.forEach((item, index) => {
                        $("#nameslist").append(`<li class="list-group-item">${name}</li>`);
                    });
                });
                $("#btnroomsave").click(() => {
                    let name = $("#txtname").val();
                    let roomName = $("input[type=radio]:checked").val();
                    if (roomName == null) {
                        alert("Lütfen Şehir Seçiniz");
                        return;
                    }
                    connection.invoke("SendNameByGroup", name, roomName);
                })
                connection.on("ReceiveMessageByGroup", (name, roomID) => {
                    let listName;
                    if (roomID == 1)
                        listName = "ankaraRoomList";
                    else
                        listName = "bursaRoomList";
                    $(`#${listName}`).append(`<li class="list-group-item">${name}</li>`);
                })
                $("input[type=radio]").change(() => {
                    let value = $(`input[type=radio]:checked`).val();
                    if (value == "Ankara") {
                        connection.invoke("AddToGroup", value);
                        connection.invoke("RemoveToGroup", "Bursa")
                    }
                    else {
                        connection.invoke("AddToGroup", value);
                        connection.invoke("RemoveToGroup", "Ankara")
                    }
                })
            });
        })
    </script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input type="text" class="form-control" id="txtname" />
        <hr />
        <button class="btn btn-warning" id="btnsave">İsmi Kaydet</button>
        <button class="btn btn-success" id="btnroomsave">Odaya Kaydet</button>
        <div class="alert alert-info mt-2">
            <div class="float-left">
                Bağlantı Durumu: <strong id="conStatus"></strong>
                , Client Sayısı <strong id="clientCount"></strong>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="nameslist"></ul>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="RoomGroup" value="Ankara" />
            <label class="form-check-label">Ankara Odası</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="RoomGroup" value="Bursa" />
            <label class="form-check-label">Bursa Odası</label>
        </div>
    </div>
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-6">
                <h2>Ankara Odası</h2>
                <ul class="list-group" id="ankaraRoomList"></ul>
            </div>
            <div class="col-md-6">
                <h2>Bursa Odası</h2>
                <ul class="list-group" id="bursaRoomList"></ul>
            </div>
        </div>
    </div>
</div>